name: python-lab

on:
  workflow_dispatch:

jobs:
  python:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
            python-version: '3.14'
